*{
    margin:0px;
    font-family: arial;
    box-sizing:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    align-items: center;
    padding:0 20px;
    display:flex;
    justify-content: space-evenly;

}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("logo.png");
    height:50px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.border{
    border:1.8px solid transparent;
}
.border:hover{
    border:1.8px solid white;
}
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left:15px;
}
.add-second{
    font-size:1rem;
    margin-left: 2px;
    
}
.add-icon{
    display:flex;
    align-items:center;
    
}
/**box3**/
.nav-search{
    display:flex;
    justify-content: space-evenly;
   
    width:620px;
    height:40px;
    border-radius: 4px;
    
}
.search-select{
    background-color:#f3f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
    display: flex;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
    display:flex;
}
/* .search-icon{
    width:45px;
    display:flex;
    justify-content: center; 
    align-items: center;  
} */
 .search-icon {
    width: 45px;
    background-color: #febd69; 
    display: flex;
    justify-content: center;    
    align-items: center;        
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size:1.2rem;
    color:#0f1111;
    font-weight: bold;
}
.nav-search:hover{
    border:2px solid orange;
}
/**box4*/
span{
    font-size: 12px;
}
.nav-signin{
    font-size:14px;
    font-weight:800px;
}
/**box 6**/
.nav-cart i {
    font-size:1.5rem;
    font-weight:700px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
}
/**panel**/
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display:inline;
    margin-left:10px;
}
.panel-ops{
    width:70%;
    font-size:0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}
.hero-section{
    background-image:url("hero-image.jpg");
    justify-content: center;
    height:400px;
    display:flex;
    background-size:cover;
    align-items: flex-end;
    z-index: 1;
}
.hero-msg{
    background-color:white;
    color:black;
    height:40px;
    justify-content: center;
    align-items: center;
    display:flex;
    font-size:0.85rem;
    width:80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color:#2162A1;
}
/**shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    z-index: 3;
}
.box{
    width:23%;
    height:400px;
    /* border:2px solid black; */
    background-color: white;
    padding:20px 0px 15px;
    margin-bottom: 20px;
}
.box-img{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0.85rem; 
    margin-bottom: 1rem;
}
.box-content{
    margin-left:1rem;
    margin-right: 1rem;
}
.box-content p{
   color:#2162A1;
}
.box7{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/**footer**/
footer{
    width:100%;
    color:white;
    padding: 20px 0;
}
.foot-panel1{
    
    /* width:100%; */
    background-color: #37475a;
    color:white;
    text-align: center;
    justify-content: center;
    padding:20px;
    display:flex;
    height:50px;
    font-size: 0.85rem;
}
.foot-panel2{
background-color: #222F3E;
color:white;
height:500px;
justify-content: space-evenly;
display:flex;
}
ul{
    margin-top: 25px;
}
ul a{
    display:block;
    font-size:0.85rem;
    margin-top: 10px;
    color:#DDDDDD;
}
.foot-panel3{
    background-color:#222f3e;
    border-top:0.5px solid white;
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.logo{
    background-image: url("logo.png");
    height:50px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.foot-panel4{
    background-color: #131A22;
    color:#DDDDDD;
    height:80px;
    justify-content: center;
    text-align: center;


}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}